<section>
  <!--for demo wrap-->
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Name</th>
          <th>Bitfinex Price</th>
          <th>Bitfinex Change %</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tr>
        <td>BTC</td>
        <td>Bitcoin</td> 
        <td id="btcPrice"></td>
        <td id="btcPercentChange"></td>
      </tr>
      <tr>
        <td>ETH</td>
        <td>Ethereum</td> 
        <td id="ethPrice"></td>
        <td id="ethPercentChange"></td>
      </tr>
      <tr>
        <td>BCH</td>
        <td>Bitcoin Cash</td> 
        <td id="bchPrice"></td>
        <td id="bchPercentChange"></td>
      </tr>
      <tr>
        <td>LTC</td>
        <td>Litecoin</td> 
        <td id="ltcPrice"></td>
        <td id="ltcPercentChange"></td>
      </tr>
      <tr>
        <td>XRP</td>
        <td>Ripple</td> 
        <td id="xrpPrice"></td>
        <td id="xrpPercentChange"></td>
      </tr>
      <tr>
        <td>XMR</td>
        <td>Monero</td> 
        <td id="xmrPrice"></td>
        <td id="xmrPercentChange"></td>
      </tr>
      <tr>
        <td>IOTA</td>
        <td>Iota</td> 
        <td id="iotaPrice"></td>
        <td id="iotaPercentChange"></td>
      </tr>
    </table>
  </div>
</section>
