<table>
  <tr>
    <th>Ticker</th>
    <th>Name</th>
    <th>Bitfinex Price</th> 
  </tr>
  <tr>
    <td>BTC</td>
    <td>Bitcoin</td> 
    <td id="btcPrice"></td>
  </tr>
  <tr>
    <td>ETH</td>
    <td>Ethereum</td> 
    <td id="ethPrice"></td>
  </tr>
  <tr>
    <td>BCH</td>
    <td>Bitcoin Cash</td> 
    <td id="bchPrice"></td>
  </tr>
  <tr>
    <td>LTC</td>
    <td>Litecoin</td> 
    <td id="ltcPrice"></td>
  </tr>
  <tr>
    <td>XRP</td>
    <td>Ripple</td> 
    <td id="xrpPrice"></td>
  </tr>
</table>
